pipeline/Internal_Audit_Load.json
{
	"name": "Internal_Audit_Load",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT \n[SourceTableName],\n[DestTableName],\n[SOURCE_QUERY],\n[DATA_LOAD_TYPE]\nFROM [AD_W].[HumanResources].[ControlTable]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "HumanResource_Control_Table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Internal_Audit_File_to_Archive",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Internal_Audit_Control_Tble_List": {
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Internal_Audit_Load_Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"HumnResource_ContarolTable_List": {
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Inremental/Internal_Audit"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-21T13:02:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}